html {
  font-size: 10px;
}

body {
  background:#efefef;

  // Header border
  &:before {
    content: '';
    display: block;
    background: $primary;
    height: 4px;
    width: 100%;
  }
}

.inner,
.content {
  max-width: $width;
  margin: 20px auto;

  @media all and (max-width: $width) {
    padding: 2rem;
  }
}

